<div class="well">
  <p>
    <strong>Username:</strong>
    <%= @staff.username %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @staff.lastname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= @staff.firstname %>
  </p>

  <p>
    <strong>Kana:</strong>
    <%= @staff.kana %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= @staff.course.name %>
  </p>
</div>

<%= link_to t(:edit), edit_staff_path(@staff) %> |
<%= link_to t(:back), staffs_path %>
