<h3><%= syllabus.subject.name %></h3>
<% if session[:user_name] == syllabus.staff.username %>
  <p>
    <%= button_to t(:edit), edit_syllabus_path(syllabus), method: :get, class: "btn btn-default" %>
  </p>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">担当教員</div>
  <div class="panel-body"><%= syllabus.staff.lastname + syllabus.staff.firstname %></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">副題</div>
  <div class="panel-body"><%= markdown(syllabus.subtitle).html_safe %></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">到達目標</div>
  <div class="panel-body"><%= markdown(syllabus.goal).html_safe %></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">概要</div>            
  <div class="panel-body"><%= markdown(syllabus.abstract).html_safe %></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">授業計画</div>
  <div class="panel-body"><%= markdown(syllabus.plan).html_safe %></div>            
</div>
<div class="panel panel-default">
  <div class="panel-heading">評価方法</div>
  <div class="panel-body"><%= markdown(syllabus.evaluationmethod).html_safe %></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">教科書</div>
  <div class="panel-body"><%= markdown(syllabus.textbook).html_safe %></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">参考書</div>
  <div class="panel-body"><%= markdown(syllabus.referencebook).html_safe %></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">選抜方法</div>
  <div class="panel-body"><%= markdown(syllabus.selectionmethod).html_safe %></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">備考</div>
  <div class="panel-body"><%= markdown(syllabus.remarks).html_safe %></div>
</div>
