<h3><%= syllabus.subject.name %></h3>
<p>
  <%= button_to t(:edit), edit_syllabus_path(syllabus), method: :get, class: "btn btn-default" %>
</p>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>副題</th>
        <td><%= markdown(syllabus.subtitle).html_safe %></td>
      </tr>
      <tr>
        <th>到達目標</th>
        <td><%= markdown(syllabus.goal).html_safe %></td>
        </tr>
      <tr>
        <th>概要</th>            
        <td><%= markdown(syllabus.abstract).html_safe %></td>
      </tr>
      <tr>
        <th>授業計画</th>
        <td><%= markdown(syllabus.plan).html_safe %></td>            
      </tr>
      <tr>
        <th>評価方法</th>
        <td><%= markdown(syllabus.evaluationmethod).html_safe %></td>
      </tr>
      <tr>
        <th>教科書</th>
        <td><%= markdown(syllabus.textbook).html_safe %></td>
      </tr>
      <tr>
        <th>参考書</th>
        <td><%= markdown(syllabus.referencebook).html_safe %></td>
      </tr>
      <tr>
        <th>選抜方法</th>
        <td><%= markdown(syllabus.selectionmethod).html_safe %></td>
      </tr>
      <tr>
        <th>備考</th>
        <td><%= markdown(syllabus.remarks).html_safe %></td>
      </tr>
    </tbody>
  </table>
</div>
