<div class="page-header">
  <h1>シラバスの編集</h1>
</div>

<p>
  csv形式またはods形式，xlsx形式のファイルをアップロードできます．
  テンプレートはそれぞれ<a href="/syllabus-template.csv" class="link">syllabus-template.csv</a>，<a href="/syllabus-template.ods" class="link">syllabus-template.ods</a>，<a href="/syllabus-template.xlsx" class="link">syllabus-template.xlsx</a>にあります．
  <div class="form-inline">
    <div class="form-group">
      <%= form_tag import_syllabuses_path, multipart: true do %>
        <%= file_field_tag :file, class: "form-control"  %>
        <%= hidden_field_tag :id, @syllabus.id %>
        <%= submit_tag t(:import), class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</p>

<%= render 'form' %>

<p>
  <%= link_to t(:back), syllabuses_path %>
</p>
