<% if User.admin?(session[:user_name]) %>
  <p>
    <%= link_to t(:edit), edit_syllabus_path(@syllabus) %> | <%= link_to t(:back), syllabuses_path %>
  </p>
  <p>
    <strong>Staff:</strong>
    <%= @syllabus.staff.lastname %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= @syllabus.subject.name %>
  </p>
<% end %>
<%= render(@syllabus) %>
<% if not User.student?(session[:user_name]) %>
  <%= link_to "一覧へ戻る", syllabuses_path, class: "btn btn-default" %>
<% end %>