<% if notice %>
  <div class="alert alert-info" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<% if User.admin?(session[:user_name]) %>
  <p>
    <%= link_to t(:edit), edit_syllabus_path(@syllabus) %> | <%= link_to t(:back), syllabuses_path %>
  </p>
  <p>
    <strong>Staff:</strong>
    <%= @syllabus.staff.lastname %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= @syllabus.subject.name %>
  </p>
<% end %>
<%= render(@syllabus) %>
<%= link_to "一覧へ戻る", syllabuses_path, class: "btn btn-default" %>
