<% if notice %>
  <div class="alert alert-info" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="well">
  <p>
    <strong>Staff:</strong>
    <%= @syllabus.staff.lastname %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= @syllabus.subject.name %>
  </p>
  <p>
    <strong>Subtitle:</strong>
    <%= @syllabus.subtitle %>
  </p>
  <p>
    <strong>Goal:</strong>
    <%= @syllabus.goal %>
  </p>
  <p>
    <strong>Abstract:</strong>
    <%= @syllabus.abstract %>
  </p>
  <p>
    <strong>Plan:</strong>
    <%= @syllabus.plan %>
  </p>
  <p>
    <strong>Evaluationmethod:</strong>
    <%= @syllabus.evaluationmethod %>
  </p>
  <p>
    <strong>Textbook:</strong>
    <%= @syllabus.textbook %>
  </p>
  <p>
    <strong>Referencebook:</strong>
    <%= @syllabus.referencebook %>
  </p>
  <p>
    <strong>Selectionmethod:</strong>
    <%= @syllabus.selectionmethod %>
  </p>
  <p>
    <strong>Remarks:</strong>
    <%= @syllabus.remarks %>
  </p>
</div>

<%= link_to t(:edit), edit_syllabus_path(@syllabus) %> |
<%= link_to t(:back), syllabuses_path %>
