<div class="page-header">
  <h1><%= Subject.find(@subject_id).name %> <%= Staff.find(@staff_id).lastname + 'ゼミ' unless @staff_id == '*' %> 配属希望一覧</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link "studentusername", "学生" %></th>
        <% if @staff_id == '*' %><th>ゼミ</th><% end %>
        <% if User.staff?(session[:user_name]) %><th>希望理由</th><% end %>
        <th><%= sort_link "permission", "配属可否" %></th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |r| %>
        <tr>
          <td><%= r.studentusername %><%= r.studentname %></td>
          <% if @staff_id == '*' %><td><%= r.staff.lastname %></td><% end %>
          <% if User.staff?(session[:user_name]) %><td><%= markdown(r.reason).html_safe %></td><% end %>
          <td>
            <span id="current_permission_<%= r.id %>"><%= r.permission_to_string %></span>
            <% if session[:user_name] == r.staff.username and (session[:status] == 4 or session[:status] == 6) %>
              <br />
              <%= form_for(r, remote: true) do |f| %>
                → <%= f.select :permission, Request.permission_values_for_selection, class: "form-control" %>
                <%= f.submit "に変更", class: "btn btn-danger" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>