<% if notice %>
  <div class="alert alert-info" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="well">
  <p>
    <strong>Staff:</strong>
    <%= @charge.staff.lastname %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @charge.subject.name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= @charge.capacity %>
  </p>
</div>

<%= link_to t(:edit), edit_charge_path(@charge) %> |
<%= link_to t(:back), charges_path %>
