<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ゼミ配属希望調査</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <style>
    body {
      padding-top: 70px;
    }
  </style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/?ref=nav">ゼミ配属希望調査</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <% if User::admin?(session[:user_name]) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">テーブル <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/charges">担当</a></li>
                <li><a href="/recruitments">募集</a></li>
                <li><a href="/syllabuses">シラバス</a></a></li>
                <li><a href="/subjects">科目</a></a></li>
                <li><a href="/staffs">教員</a></li>
                <li><a href="/courses">専攻</a></li>
                <li><a href="/users">ユーザ</a></li>
                <li><a href="/announcements">お知らせ</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          <% end %>
          <% if User::staff?(session[:user_name]) %>
            <li><a href="/syllabuses">シラバス</a></li>
          <% end %>
          <% if session[:user_name] %>
            <% @h.each do |k, v| %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= k %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% v.each do |s| %>
                    <% sy = Syllabus.find(s) %>
                    <li><%= link_to sy.staff.lastname, sy %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if session[:user_name] %>
            <li class="navbar-header"><span class="navbar-brand"><%= session[:user_name] %></span></li>
            <li class="navbar-form navbar-right">
              <%= button_to "Sign out", signout_path, method: :delete, class: "btn btn-danger" %>
            </li>
          <% else %>
            <li class="navbar-form navbar-right">
              <%= button_to "Sign in", signin_url, method: :get, class: "btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
